body{
    background-image: url(assets/aja.png);
    color: lightsteelblue;
    font-size: 30px;
}

h1{
    color: cornflowerblue;
}
p{
    color: #0000FF;
}

div{
    background-color: darkcyan;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color:darkslateblue;
    border-radius: 10px;
    margin-left: 50px;
}

 .imgRound{
        border-radius: 20%;
    }
    .imgSpace{
        padding: 5px;
    }

    .fotos{
        background-color: darkorchid;
        background-color: slategrey;
        border-style: none;
        margin: 0px;
        padding: 10px;
        display: flex;
        justify-content: right;
    }

    a{
        color:maroon;
    }