body{
    background-color:black;
    color:black;
    font-size: 20px;
    text-align: center;
}

header{
    background-color:mediumslateblue;
    font-size: 30px;
    padding: 10px;
}

nav{
    background-color:darkred;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    justify-content: right;
}

h1{
    color: cornflowerblue;
}
p{
    color:aliceblue;
}

div2{
    background-color: darkcyan;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color:darkslateblue;
    border-radius: 10px;
    margin-left: 10px;
}

 .imgRound{
        border-radius: 40%;
        text-align: center;
        justify-content: center;
        
    }
    .imgSpace{
        padding: 5px;
    }

    .fotos{
        background-color: darkorchid;
        background-color: slategrey;
        border-style: none;
        margin: 0px;
        padding: 10px;
        display: flex;
        justify-content: left;
    }

    a{
        color:aliceblue;
    }

    .container div{
        background-color: #0000;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
    }

    .container{
        display: flex;
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
    }

    @media (max-width: 600px) {
        .container{
            flex-direction: column;
        }
    }

    .fa-youtube{
        color:darkred;
        width: 60px;
    }

    .fa-instagram{
        color: blueviolet;
        width: 60px;
    }

    .redes{
        background-color:black;
        padding: 10px;
    }

    .paisa{
        background-color: aquamarine;
        color: black;
        padding: 10px;
        text-align: center;
    }

    .pais{
        background-color:darkslategrey;
        color: black;
        padding: 10px;
        text-align: center;
    }